.sidebar__container {
    border: 1px solid black;
    width: 30%;
    height: 100vh;
}

.button {
    width: 100%;
    height: 50px;
    list-style-type: none;
}

.button:hover {
    background-color: pink;
    cursor: pointer;
}

.addFolderButton {
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}